.RecipeInfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  position: relative;
}

.layout {
  position: absolute;
  left: 0;
  right: 0;
  background-color: blanchedalmond;
  width: 100%;
  height: 500px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  z-index: 1;
}

.RecipeInfo-container {
  margin-top: 80px;
  background: #141010;
  color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  z-index: 2;
}

.RecipeInfo-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  justify-content: space-between;
  z-index: 2;
}

.RecipeInfo-left {
  width: 50%;
  padding: 0px 30px;
}

.RecipeInfo-left h1 {
  font-size: 2.5em;
  text-align: center;
}

.RecipeInfo-main img {
  margin-top: 80px;
  border-radius: 30px;
  width: 50%;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.RecipeInfo-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cook-time,
.serving {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.Person,
.FireBurner {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cook-time p,
.serving p {
  display: flex;
  flex-direction: column;
}

.cook-time p span span,
.serving p span span {
  font-size: 2em;
}

.dishTypes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: 0em;
  padding-inline-start: 0px;
  justify-content: center;
}

.dishType {
  margin-bottom: 15px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.RecipeInfo-nutrients-container {
  display: flex;
  align-items: center;
  width: 60%;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px;
  justify-content: space-between;
  margin-top: 30px;
}

.RecipeInfo-nutrients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  list-style: none;
  color: white;
  margin-block-start: 0em;
  padding-inline-start: 0px;
  padding: 40px;
  font-size: 1.2em;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.RecipeInfo-nutrient {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
}

.RecipeInfo-ingredients {
  width: 100%;
  list-style: none;
  margin-block-start: 0em;
  padding-inline-start: 0px;
}

.RecipeInfo-ingredients h2 {
  font-size: 2.2em;
}

.RecipeInfo-ingredient {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.3em;
  transition: .5s ease;
}


.RecipeInfo-ingredient img {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 20px;
}

.RecipeInfo-ingredient p {
  position: absolute;
  right: 5%;
}

.RecipeInfo-steps {
  list-style: none;
  margin-block-start: 0em;
  padding-inline-start: 0px;
  padding: 0px 30px;
}

.RecipeInfo-steps ul {
  list-style: none;
  margin-block-start: 0em;
  padding-inline-start: 0px;
}

.RecipeInfo-steps h2 {
  font-size: 2.2em;
}

.RecipeInfo-step span {
  font-size: 1.8em;
  font-weight: 600;
}

.RecipeInfo-step p {
  font-size: 1.3em;
  color: gray;
}

@media (max-width: 1024px) {
  .RecipeInfo-container {
      width: 90vw;
  }

  .RecipeInfo-main {
      display: flex;
      flex-direction: column;
      justify-content: center;

  }

  .RecipeInfo-main img {
      width: 100%;
      margin-top: 0;
  }

  .RecipeInfo-left {
      width: 100%;
  }

  .RecipeInfo-nutrients-container {
      width: 80%;
  }
}

@media (max-width: 540px) {
  .RecipeInfo-main img {
      height: 300px;
  }

  .RecipeInfo-nutrients-container {
      display: flex;
      flex-direction: column;
  }

  .RecipeInfo-nutrients {
      width: 100%;
  }

  .RecipeInfo-container {
      margin-top: 100px;
  }

  .RecipeInfo-left h1 {
      margin-top: 0;
  }
}