.Navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  z-index: 1000;
  transition: background-color .3s ease;

  .loginBtn {
    color: white;
  }
}

.Navbar.NotTransparent {
  background-color: #141010;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Utensils {
  margin-right: 30px;
}

.nav1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 2em;
  font-weight: 600;
  color: white;
}

.left-side {
  margin-left: 5%;
  display: flex;
  align-items: center;
  z-index: 3;
}


.menu-icon {
  cursor: pointer;
  float: right;
  padding: 5px;
  margin-left: 50px;
  user-select: none;
  z-index: 2;
  margin-right: 50px;
}

.menu-btn {
  display: none;
}

.menu-icon .nav-icon {
  background-color: black;
  display: block;
  height: 4px;
  width: 25px;
  position: relative;
  transition: background 0.2s ease-out;
}

.menu-icon .nav-icon::before,
.menu-icon .nav-icon::after {
  background-color: white;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all ease-out 0.2s;
}

.menu-icon .nav-icon::before {
  top: 5px;
}

.menu-icon .nav-icon::after {
  top: -5px;
}

.menu-icon .nav-icon,
.menu-icon:checked~.menu-icon .nav-icon {
  background-color: transparent;
}

.menu-btn:checked~.menu-icon .nav-icon::before {
  background-color: white;
  transform: rotate(-45deg);
  top: 0px;
}

.menu-btn:checked~.menu-icon .nav-icon::after {
  background-color: white;
  transform: rotate(45deg);
  top: 0px;
}

.nav-2 {
  display: none;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: wheat;
  flex-direction: column;
  z-index: 1;
  animation: fadein .3s ease-in-out;
}

.nav-2 li {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
  text-align: center;
  margin-bottom: 20px;
}

.nav-2 li a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 75px;
  transition: all .5s ease;

}

.nav-2 li a:hover {
  color: white;
  text-decoration: underline;
}

.menu-btn:checked~.nav-2 {
  display: flex;
  padding-left: 0;
}

.menuItem a {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: black;
}


@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
      opacity: 0;
      transform: translateY(-150px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@media (max-width: 540px) {
  .nav-2 li a {
      font-size: 50px;
  }


}