@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Open+Sans:wght@500&display=swap');
body {
    margin: 0;
    background-color: black;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

p {
    font-family: 'Times New Roman';
    line-height: 26px;
  }